<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Tab 1 Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list inset>
    <ion-item>Tab 1 Test Content</ion-item>
    <ion-item margin color="primary" routerLink="/home" routerDirection="forward">Home Page</ion-item>
    <ion-item margin color="primary" routerLink="/single" routerDirection="forward">Single Page</ion-item>
    <ion-item margin color="primary" routerLink="/tab1menu">Tab 1 Menu-> Default Page</ion-item>
    <ion-item margin color="primary" routerLink="/tab2menu">Tab 2 Menu -> Default Page</ion-item>
    <ion-item margin color="danger" routerLink="/menu1">Split Pane 1 -> Default Page</ion-item>
    <ion-item margin color="primary" routerLink="/menu2">Split Pane 2 -> Default Page</ion-item>
  </ion-list>
</ion-content>