<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list inset>
      <ion-item margin color="secondary" routerLink="/splitConfiguration">Menu Configuration</ion-item>
      <ion-item margin color="secondary" routerLink="/tabTest">Tab Configuration</ion-item>
      <ion-item margin color="secondary" routerLink="/splitAdministation">Menu AdministrationTab</ion-item>
      <ion-item margin color="secondary" routerLink="/tabAdministration">Tab Administration</ion-item>
    </ion-list>
</ion-content>